body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.directory{
  padding-left:20px;
  border-left:1px solid #ccc;
  position: relative;
}


.directory .active{
  background: #c2e7ff;
}

.active .listing:hover{
  background: #c2e7ff;
}


.listing{
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.listing:hover{
  background: #ececec;
}


h1 {
  text-align: center;
  margin-bottom: 50px;
}
.explorer{
  border: 1px solid #ebebeb;
  width: 90vw;
  border-radius: 10px;
  padding: 15px;
  background: #ffffff;
  position: relative;
  margin: 0 auto;
}

.context-menu{
  padding: 10px 25px;
  border-radius: 10px;
  background: #f6f6f6;
  position: fixed;
  z-index: 9;
}

.context-menu p{
  border-bottom: 1px solid #e7e7e7;
  padding: 15px 25px;
  margin: 0;
  cursor: pointer;
}

.context-menu p:nth-last-child(){
  border-bottom: 0;
}

.file-icon{
  width :16px;
}